fastapi
uvicorn
python-multipart
pandas
pyyaml
openpyxl
pdfplumber
PyPDF2
pytesseract
pdf2image
Pillow

# Database PostgreSQL
sqlalchemy==2.0.23
psycopg2-binary==2.9.9
alembic==1.12.1

# PDF Generation & Telegram
reportlab
python-telegram-bot
